<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/82dcd007-af36-4f05-bcab-a736940678ca/resourceGroups/isirest_group/providers/Microsoft.Web/sites/isirest</ResourceId>
    <ResourceGroup>isirest_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://isirest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7379ca4b-ec9a-45a3-9ba0-ec55c04d0b20</ProjectGuid>
    <PublishUrl>https://isirest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$isirest</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>